body {
    font-family: "Open Sans", sans-serif;
    color: #201b2d;
    font-size: 15px;
    padding: 0;
    margin: 0;
    min-width: 1250px;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}
p {
    line-heaght: 1.6em;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.header {
    color: #ffffff;
    background: rgb(42,34,64);
    background: linear-gradient(321deg, rgba(42,34,64,1) 0%, rgba(71,62,95,1) 100%);
    padding-top: 100px;
    padding-bottom: 225px;
}
.logo {
    
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.offer {
    width: 490px;
    margin-top: 240px;
}
.title {
    font-size: 36px;
    
}
.intro {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 380px;
}
.green {
    color: #48ed8e;
}
.btn {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #ffffff;
    background-color: #ed9619;
    border-radius: 100px;
    display: block;
    width: 205px;
    padding: 20px 0;
    text-align: center;
    transition: all 0.5s ease;
}
.btn:hover {
    background: #d9860e;
}
.desktop {
    margin-top: 72px;
}

.learn {
    background: #fff;
}

.email {
    background: #efecf4;
}

.footer {
    color: #fff;
    background: #201b2d;
}