body {
    font-family: "Open Sans", sans-serif;
    color: #201b2d;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}
p {
    line-height: 1.6em;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.header {
    color: #ffffff;
    background: rgb(42,34,64);
    background: linear-gradient(321deg, rgba(42,34,64,1) 0%, rgba(71,62,95,1) 100%);
    padding-top: 100px;
    padding-bottom: 225px;
}
.logo {
    
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.offer {
    width: 465px;
    margin-top: 240px;
}
.title {
    font-size: 36px;
    
}
.intro {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 380px;
}
.green {
    color: #48ed8e;
}
.btn {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #ffffff;
    background-color: #ed9619;
    border-radius: 100px;
    display: block;
    width: 205px;
    padding: 20px 0;
    text-align: center;
    transition: all 0.5s ease;
}
.btn:hover {
    background: #d9860e;
}
.desktop {
    margin-top: 72px;
}
.section-title {
    font-size: 30px;
}
.learn {
    background: #fff;
    padding-top: 110px;
    padding-bottom: 120px;
}
.skills {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.skill-title {
    font-size: 18px;
}
.skill {
    width: 360px;
    padding-left: 90px;
}
.skill-text {
    margin-top: 10px;
}
.skill-1 {
    background: url("../img/icon1.jpg") no-repeat left top;
}
.skill-2 {
    background: url("../img/icon2.jpg") no-repeat left top;    
}
.skill-3 {
    background: url("../img/icon3.jpg") no-repeat left top;    
}
.email {
    background: #efecf4;
    padding-top: 173px;
    padding-bottom: 190px;
}
.input-email {
    margin-top: 40px;
    width: 470px;
    height: 54px;
    border: 1px solid #bfb8d1;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    padding-left: 38px;
    border-radius: 100px;
}
.btn-form {
    margin-left: 10px;
    display:inline;
    border: none;
    cursor: pointer;
}
.footer { 
    background: #201b2d;
}
.copyright {
    margin: 0;
    color: #d4cee3;
    font-size: 14px;
    padding: 30px 0;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
    .wrapper {
        flex-direction: column;
    }
    .offer {
        width: 100%;
    }
    .intro {
        width: 100%;
    }
    .desktop {
        display: block;
        width: 549px;
        margin: 72px auto;
    }
    .skills {
        flex-direction: column;
    }
    .skill {
        width: auto;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
    .desktop {
        width: 100%;
    }
    .input-email {
        width: 100%;
    }
    .btn {
        width: 100%;
        margin: 20px 0px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
}